body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    color: #fff;
}

.container {
    text-align: center;
}

.controls {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

#visualization {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-color: #000;
}
